{% extends 'layout.html' %}
{% load static %}
{% block titile %}Генератор карт{% endblock %}


{% block content %}
<div class="body-content">
<link rel="stylesheet" href="{% static 'loyalitysystem/css/generatepage.css' %}">
<div class="generate">
    <h1>Генератор карт лояльнсоти</h1>
    <form method="post" class="form-body"> {% csrf_token %}
            <label>Серия карты:</label>
            <select name="{{ form.series_card.name }}" >
                <option>A</option>
                <option>B</option>
                <option>C</option>
                <option>D</option>
                <option>E</option>
                <option>F</option>
                <option>G</option>
                <option>K</option>
                <option>L</option>
                <option>M</option>
                <option>N</option>
                <option>O</option>
                <option>P</option>
                <option>R</option>
                <option>S</option>
                <option>T</option>
                <option>X</option>
                <option>Y</option>
                <option>Z</option>
            </select>
            <label>Количество генерируемых карт</label>
            <input class="card-number" placeholder="количество" min="1" type="number" name="{{ form.number_card.name }}">
        <p>Срок действия карты</p>
        <label>C</label>
        <input type="datetime-local" name="{{ form.create_date_card.name }}"/>
        <label>По</label>
        <input type="datetime-local" name="{{ form.ending_date_card.name }}"/>
        <span>{{ form.error }}</span>
        <div class="button">
			<input type="submit" value="сгенерировать"/>
		</div>
    </form>
</div>
</div>
{% endblock %}